.header{
    margin-top: 10px;
    border: 1px solid grey;
    width: 100%;
    height: 20vh;
    background: grey;
}
.sub-header{
    margin-top: 15px;
    border: 1px solid gray;
    width: 40%;
    height: 10vh;
    background: gray;
}
.content{
    margin-top: 15px;
    width: 100%;
    /* height: 90vh; */
}

.green-line{
    border: 1px solid green;
    width: 68%;
    height: 5vh;
    background: green;
    margin-bottom: 5vh;
}

.gray-line{
    margin-bottom: 5vh;
    border: 1px solid grey;
    width: 68%;
    height: 5vh;
    background: grey;
}

.gray-line1{
    margin-top: 15vh;
    margin-bottom: 5vh;
    border: 1px solid grey;
    width: 68%;
    height: 5vh;
    background: grey;
}

.image{
    border: 1px solid grey;
    background: grey;
    height: 65vh;
    width: 30%;
    float: right;
}

.title-1, .title-2 {
  margin-top: 15vh;
}

.title-1 {
  width: 40%;
  height: 10vh;
  background-color: #9A9A9A;
}

.title-2 {
  width: 80%;
  height: 20vh;
  background-color: #333333;
}

.line-1, .line-2, .line-3 {
  width: 100%;
  margin: 2.5vh 0;
}

.line-1, .line-2 {
  height: 5vh;;
}

.line-3 {
  height: 25px;
  background-color: #CCCCCC;
}

.line-1 {
  background-color: #555555;
}

.line-2 {
  background-color: #775555;
}
